.container {
	text-align: center;
	padding: 5rem;
}

.product {
	display: flex;
}

.img {
	width: 100%;
	margin-right: 2rem;
	margin-bottom: 2rem;
}

.choice {
	color: green;
	font-size: 0.8rem;
}

.desc {
	text-align: left;
	margin-left: 0;
}

.btn {
	border: none;
	color: white;
	background-color: black;
	width: 100%;
	margin-top: 1rem;
}
