.login {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 2rem;
	font-size: 1.1rem;
	margin-top: 1rem;
}

.login p {
	margin-bottom: 0;
}

.loginStatus a {
	color: black;
	text-decoration: none;
}

.login:hover {
	opacity: 0.6;
}
.loginStatus:hover {
	cursor: pointer;
}

.loginStatus {
	margin-left: 1rem;
}

.logo {
	text-align: center;
}

.img {
	width: 13rem;
}

.category {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.ul {
	display: flex;
	list-style: none;
}

.li {
	padding: 0.7rem;
}

.search {
	width: 9rem;
	position: absolute;
	top: 0;
	right: 2rem;
}
.form {
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
}
.input {
	background-color: transparent;
	border: none;
	margin-left: 0.5rem;
	padding: 0.5rem;
}

.input:focus {
	border: none;
}

.btn {
	background: transparent;
	outline: none;
	border: none;
}
